*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    height: 50vh;
    position: relative;
}

.container{
    background: url(/static/img/feet.jpg);
    height: 600px;
    margin-top: 30px;
    position: relative;
}

.logo{
    margin-left: 46%;
    margin-top: 30px;
    position: relative;
}

.container .header .main .logo-img h1{
    color: #fff;
    text-align: center;
    margin-top: 60px;
    font-size: 46px;
}

h2{
    color: #fff;
    font-size: 13px;
    text-align: center;
    letter-spacing: 2px;
}

.vector{
    width: 30px;
    margin-left: 46%;
    margin-top: 13%;
    position: absolute;
}

.main-content{
    text-align: center;
    position: relative;
    margin-top: 25%;
}

.main-content p{
    font-size: 15px;
    line-height: 13px;
    letter-spacing: 1px;
}


.service-content .service{
    background: url(/static/img/comp.jpg);
    height: 400px;
    margin-top: 30px;
    position: relative;
}


.service-content .service h1{
    top: 150px;
    color: #fff;
    text-align: center;
    font-weight: lighter;
    position: relative;
}


.what-we-do{
    text-align: center;
}

.service p{
    top: 150px;
    position: relative;
    text-align: center;
    color: #fff;
}

.row h2{
    color: #000;
    font-size: 30px;
    margin-top: 60px;
    font-weight: bold;
}

.txt h1{
    text-align: center;
    margin-top: 20px;
    position: relative;
}


.img-image{
    max-width: 100%;
}

.gallery{
    padding: 80px 0;
    position: absolute;
}







